root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.ts]
indent_size = 2
tab_width = 2

[*.js]
indent_size = 2
tab_width = 2

[{*.comp,*.frag,*.fsh,*.geom,*.glsl,*.shader,*.tesc,*.tese,*.vert,*.vsh}]
ij_glsl_keep_indents_on_empty_lines = false

[{*.json,.babelrc,.eslintrc,.prettierrc}]
indent_size = 2

[{*.yaml,*.yml}]
indent_size = 2
